@*
    The list of all movies
*@
@{
}

@model List<Movie>

<table class="table table-bordered">
    <thead>
        <tr class="fw-bold">
            <td>Title</td>
            <td>Category</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>LentTo</td>
            <td>CopiedToPlex</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        @*
            Adds all the values of from each row of the database into a row in the table
        *@
        @foreach (var row in Model)
        {
        <tr>
            <td>@row.Title</td>
            <td>@row.Category?.CategoryName</td>
            <td>@row.Year</td>
            <td>@row.Director</td>
            <td>@row.Rating</td>
            @if (row.Edited == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>@row.LentTo</td>
            @if (row.CopiedToPlex == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>@row.Notes</td>

            @*
                The add and delete buttons on the table
            *@
            <td><a class="btn btn-outline-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@row.MovieId">Edit</a></td>
            <td><a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@row.MovieId">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
